:root {
  --sl-font: 'Open Sans', sans-serif;
}

:root[data-theme='light'] {
  --sl-icon-color: #1b2631;
  --sl-color-text-accent: #212f3c;
}

:root[data-theme='dark'] {
  --sl-icon-color: #e3dcdc;
  --sl-color-text-accent: #e3dcdc;
}

.social-icon {
  width: 24px;
  height: 24px;
}

.foo {}