---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/SocialIcons.astro';
import EmailIcon from './EmailIcon.astro'
import CredlyIcon from './CredlyIcon.astro';
import BlogmarksIcon from './BlogmarksIcon.astro';
import CodemarksIcon from './CodemarksIcon.astro';
import ResumeIcon from './ResumeIcon.astro';
import GitHubIcon from './GitHubIcon.astro';
import LinkedinIcon from './LinkedinIcon.astro';
---

<a class="down6 right6" href="https://www.credly.com/users/marcoantoniogonzalezjunior" target="_blank"><CredlyIcon /></a>
<a class="down4 left6" href="https://www.linkedin.com/in/marcoantoniogonzalezjunior/" target="_blank"><LinkedinIcon /></a>
<a class="right6" href="https://github.com/kayaman" target="_blank"></a><GitHubIcon /></a>
<a class="down4" href="https://resume.magj.dev" target="_blank"><ResumeIcon /></a>
<a class="down4" href="https://www.codemarks.dev" target="_blank"><CodemarksIcon /></a>
<a class="down4left2" href="https://blogmarks.dev" target="_blank"><BlogmarksIcon /></a>
<a class="down5" href="mailto:m@rco.sh"><EmailIcon /></a>

<style>
    .down6 {
        position: relative;
        top: 6px;
    }
    .down5 {
        position: relative;
        top: 5px;
    }
    .down4 {
        position: relative;
        top: 4px;
    }
    .down6 {
        position: relative;
        top: 6px;
    }
    .down4left2 {
        position: relative;
        top: 4px;
        left: -2px;
    }
    .down2 {
        position: relative;
        top: 2px;
        right: 4px;
    }
    .right6 {
        position: relative;
        right: -16px;
    }
    .left6 {
        position: relative;
        left: 16px;
    }
</style>