---
import BlogmarksIcon from './BlogmarksIcon.astro';
import CodemarksIcon from './CodemarksIcon.astro';
import CourseraIcon from './CourseraIcon.astro';
import CredlyIcon from './CredlyIcon.astro';
import EmailIcon from './EmailIcon.astro';
import GitHubIcon from './GitHubIcon.astro';
import LinkedinIcon from './LinkedinIcon.astro';
import ResumeIcon from './ResumeIcon.astro';
---

<a href="https://www.credly.com/users/marcoantoniogonzalezjunior" class="credly" target="_blank"
  ><CredlyIcon /></a
>
<a href="https://www.coursera.org/learner/marcoantoniogonzalezjunior" target="_blank"
  ><CourseraIcon /></a
>
<a href="https://www.linkedin.com/in/marcoantoniogonzalezjunior/" target="_blank"
  ><LinkedinIcon /></a
>
<a href="https://resume.magj.dev" class="resume" target="_blank"><ResumeIcon /></a>
<a href="https://github.com/kayaman" target="_blank"><GitHubIcon /></a>
<a href="https://www.codemarks.dev" target="_blank"><CodemarksIcon /></a>
<a href="https://blogmarks.dev" target="_blank"><BlogmarksIcon /></a>
<a href="mailto:m@rco.sh" class="email"><EmailIcon /></a>

<style>
  a {
    position: relative;
    top: 4px;
  }
  .credly {
    position: relative;
    top: 7px;
    left: 2px;
  }
  .email {
    position: relative;
    top: 5px;
  }
  .resume {
    position: relative;
    top: 5px;
  }
</style>
